body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* background: black; */
    overflow-y: scroll;

    height: 110vh;
}

.webContainer {
    max-width: 100%;
    gap: 32px;
    margin: 0;

}

.webtext {
    font-size: 18px;
    font-weight: 600;
    text-align: center;
}

.webSection {
    background-color: #FFFFFF;
    width: 91%;
    height: 21vh;
    margin-top: 120px;
    /* position: absolute; */
    margin-left: 8%;
    border-radius: 8px;
    padding: 20px;
}

.hookSection {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    margin-top: 1%;
    line-height: 2.3;
    gap: 24px;
}

.web-Last {
    background-color: #FFFFFF;
    width: 91%;
    height: auto;
    margin-bottom: 100px;
    margin-top: 4%;
    /* position: absolute; */
    margin-left: 8%;
    border-radius: 8px;
    padding: 24px;
    gap: 20px;
}

.mid-Container {
    background-color: #FFFFFF;
    width: 91%;
    height: 235px;
    margin-bottom: 4%;
    margin-top: -6%;
    /* position: absolute; */
    margin-left: 8%;
    border-radius: 8px;
    padding: 20px;
}

@media screen and (max-width: 600px) {
    .webContainer {
        width: 100%;
        position: relative;
    }

    .webSection {
        width: 105%;
        height: 80%;
        margin-left: -1rem;
    }

    .hookSection {
        display: block;
        /* height: 190%; */
    }

    .minText {
        display: flex;
        gap: 44px;
        margin-top: .7rem;
        width: 90%;
    }

    .hookSection .mineText {
        margin-left: -.1rem;
        gap: 59px !important;
        display: flex;
    }

    .hookSection .anotherText {
        margin-left: 5.8rem;
    }

    .mintText {
        display: flex;
        gap: 37px;
    }

    .web-Last {
        width: 105%;
        margin-left: -1rem;
    }

    .webtext {
        text-align: left;
    }

    .time {
        display: none;
    }


    .web-thead {
        width: 100% !important;
        position: relative;
       left: 12%;
        /* border: 2px solid black !important; */
    }

    .date {
        position: relative;
        width: 100%;
       /* right: 1%; */
       left: 12%;
        
        /* border: 2px solid black; */
    }
 

    .web-status {
      /* margin-right: -7rem; */
      position: relative;
        /* border: 2px solid black; */
        width: 11% !important;
        
    }

    .Statuses{
        width: 83% !important;
        margin-left: 1rem !important;
        /* border: 2px solid black !important;  */
    }
    .web-Last .ip-container{
        border-radius: 1px;
        width: 98%;
        background-color: transparent;

    }
    .web-Last .tds{
        width: 100%;
       position: absolute;
       right: -.7%;
      border-radius: 1px !important;
      background-color: #F3F3F3;
    }

    .webContainer .mid-Container{
        height: 100%;
        width: 105%;
        margin-top: -5rem;
        margin-left: -1rem;
    }

}
@media screen and (max-width: 480px) {
    .webContainer{
        width: 100%;
    }
 
    .webSection{
        width: 90%;
        margin-left: -1.9rem;
    }
    .webSection .minText{
        margin-left: -1.5rem;
        white-space: nowrap;
        
    }
    .webSection .secondText{
        font-size: 13px;
        margin-top: .4rem;
    }
    .webSection .mineText{
        margin-left: -1.2rem;
    }
    .webSection .mineText .anotherText{
        font-size: 13px;
        margin-top: -.1rem;
        margin-left: 6.5rem;
    }

    .webSection .mintText{
        margin-left: -1.2rem;
    }
    .webSection .fourthText{
        margin-left: -.2rem;
        margin-top: .1rem;
        font-size: 13px;
    }


    .web-Last{
        width: 90%;
        margin-left: -1.9rem;
    }
    .web-Last .web-table th{
        font-size: 13px !important;
    }
    .web-status{
      left: 3%;
    

    }
    .web-table th:nth-child(3){
        white-space: nowrap;
        /* margin-left: -1rem; */
        width: 10% !important;
        position: relative !important;
        left: 6%;
    }
    .web-table th:nth-child(5){
        width: 3% !important;
        right: 12%;
        position: relative;
    }
    .webster td:nth-child(1){
      white-space: nowrap;
      font-size: 13px;
      right: 3%;
      /* margin-left: -.9rem; */
      /* top: 3%; */
      position: relative;
    margin-top: .8rem;
    }
   .webster td:nth-child(2){
    font-size: 11px;
    /* right: 6%; */
    width: 30% !important;
   }
   .Statuses{
    width: 90% !important;
    margin-top: .1rem !important;
    margin-left: .8rem !important;
   }
    .date{
        margin-top: -1rem;
        white-space: nowrap;
        font-size: 12px;
        width: 10%;
        left: 6%;
    }
    .arrows{
        position: relative;
        right: 13%;

    }
   .lastText  .tds {
    width: 81% !important;
    right: 19%;
    height: 3%;
    /* position: relative; */
}
   .tds p:nth-child(1) span{
    font-size: 11px !important;
   }
   .tds p:nth-child(1) {
    margin-top: -.4rem !important;
   }
   .tds p:nth-child(2){
    margin-top: -.4rem !important;
    margin-left: 1rem !important;
   }
   .tds p:nth-child(2) span{
    font-size: 11px !important;
   }
   .tds p:nth-child(3){
    margin-left: -.9rem !important;
    margin-top: -.5rem !important;
   } 
   .tds p:nth-child(3) span{
    font-size: 11px !important;
   }
   .webContainer .mid-Container{
    width: 90%; 
    margin-left: -1.9rem;
   }

}