body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.signupSection {
    height: 100vh;
    display: flex;
    position: fixed;
}

.img {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.Image {
    width: 100%;
    height: max-content;
    object-fit: cover;

}

.formSect {
    width: 90%;
    padding: 1rem;
    background: #F1F6FD;

}

.Logo {
    width: 35%;
}

.header {
    display: flex;
    flex-direction: column;
    gap: 1.6rem;


}

.reniLogo {
    display: flex;
    color: #001E88;
    align-items: center;
    justify-content: center;
    margin-top: -1rem;
    margin-bottom: .9rem;

}

.graph {
    color: #001E88;
    margin-left: .3rem;
    font-size: 20px;
    font-weight: 700;
}


.head {
    color: #001E88;
    margin-top: -2%;
    font-size: 24px;
    font-weight: 600;
    text-align: center;
}

.flex {
    content: '';
    padding: .8rem;
    background: linear-gradient(to bottom, #001E88, #FEFCFC);
    margin-top: .6rem;
    border-radius: 8px;
    z-index: -1;
}

form {
    background-color: #FFFFFF;
    padding: 12px 20px;

}

.grid {
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

.inp-box {
    display: flex;
    flex-direction: column;
    width: 100%;
    /* gap: 6px; */
}


input[type="text"] {
    width: 100%;
    margin: 10px 0px;
    border: 1px solid #848995;
    outline: none;
    padding: .6rem;
    border-radius: 10px;

}

select {
    width: 100%;
    margin: 10px 0px;
    border: 1px solid #848995;
    outline: none;
    padding: 10px;
    border-radius: 10px;
    color: #848995;
    font-size: 17px;
}

::placeholder {
    font-size: 17px;
}

option {
    font-size: 17px;
    font-weight: 500;
    color: #848995;
}

input[type="checkbox"] {

    appearance: none;
    -webkit-appearance: none;
    height: 68%;
    width: 5%;
    border-radius: 0;
    background-color: #d5d5d5;
    cursor: pointer;
    /* margin-top: -1rem; */
    margin-right: .3rem;
    /* margin-left: -.6rem; */
    display: flex;
    align-items: center;
    justify-content: center;
    outline: none;
}

.checkDiv {
    color: #848995;
    margin-right: 2rem;
    font-size: 17px;
}

input[type="checkbox"]::after {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    font-size: 28px;
    display: none;
    color: white;
    content: "\f00c";
}

input[type="checkbox"]:hover {
    background-color: #a5a5a5;

}

input[type="checkbox"]:checked {
    background-color: #45EF6A;

}

input[type="checkbox"]:checked::after {
    display: block;
}

.agreement {
    display: flex;
    justify-content: space-around;
    margin-top: 1.6rem;
    cursor: pointer;
}

.buttonContainer {
    width: 100%;

}

.buttonContainer button {
    width: 90%;
    padding: .6rem;
    margin-top: .5rem;
    margin-left: 1rem;
    border-radius: 5px;
    background: #001E88;
    color: #FEFCFC;
    font-size: 16px;
    font-weight: 600;
    border: none;
    outline: 1px solid #001E88;
    /* box-shadow: 5px 4px 4px 2px #848995; */
}

.eyeIcon {
    width: 5%;
    margin-left: 31rem;
    background: none;
    font-size: 18px;
    margin-top: -2.4rem;
    border: none;
    color: #6a6d75;

}

input[type="password"] {
    width: 100%;
    margin: 10px 0px;
    height: 59%;
    border: 1px solid #848995;
    outline: none;
    padding: 10px;
    border-radius: 10px;

}

.inp-box label {
    color: #848995;
}

.inputes {
    margin-top: 1.5rem;
    /* margin-bottom: 1.5rem; */
}

/* Media queries for smaller screens */
@media (max-width: 900px) {
    .signupSection {
        flex-direction: column;
        /* padding: 15px; */
        overflow: scroll;
    }
    .agreement input{
        width: 5%;
        padding: .9rem;
        margin-right: -.3rem;
    }

    .agreement {
        width: 114%;
    }

    .img {
        display: none;
    }

    .formSect {
        width: 100%;
    }

    .name.grid {
        display: flex;
        flex-direction: column;
        gap: 15px;
    }

    .inp-box input {
        width: 100%;
    }
    .inp-box label{
        margin-left: 1rem;
    }

    select {
        width: 100%;
    }

    .inp-box input[type="text"] {
        width: 100%;
    }

    .eyeIcon {
        margin-left: 42rem;
        /* margin-top: 3px; */
        gap: 1.5rem;
        display: flex;
    }

    .checkDiv {
        margin-right: 14rem;
    }

    .buttonContainer {
        width: 98%;
    }

    .flex {
        margin-left: 7%;
        /* width: 180%; */
    }

    .header .head {
        font-size: 22px;
    }
}

@media (max-width: 600px) {
    .flex {
        width: 90%;
        margin-left: 4%;
    }

    .inp-box {
        width: 75%;
        position: relative;
    }

    .agreement {
        width: 150%;
    }

    .inp-box input[type="text"] {
        border: 1px solid #848995;
        width: 130%;
    }

    .inp-box input[type="password"] {
        border: 1px solid #848995;
        width: 130%;
    }

    select {
        width: 130%;
    }

    .eyeIcon {
        position: absolute;
        right: -5rem;
        /* Adjust this value to move the icon left or right */
        top: 109%;
        transform: translateY(-50%);
        cursor: pointer;
    }

    .checkDiv {
        font-size: 14px;
    }

    input[type="checkbox"] {
        width: 5%;
        margin-right: .5rem;
        height: 60%;
    }

    .buttonContainer {
        width: 100%;
        margin-top: 3%;
    }

    .header .head {
        font-size: 20px;
        text-align: center;
    }

    .reniLogo img {
        max-width: 80px;
        justify-content: center;
    }

    .reniLogo .graph {
        font-size: 18px;
    }
}


@media (max-width: 500px) {
    .header .head {
        font-size: 18px;
    }

    input[type="checkbox"] {
        width: 5%;
        height: 64%;

    }

    .reniLogo img {
        max-width: 70px;
    }

    .eyeIcon {
        margin-right: 2rem;
    }

    .reniLogo .graph {
        font-size: 16px;
    }

    .agreement {
        width: 165%;
    }

    .checkDiv {
        font-size: 13px;

    }

    .inp-box {
        margin-bottom: 8px;
    }

    .buttonContainer {
        width: 90%;
        margin-top: 6%;
    }

    .flex {
        margin-left: 7%;
    }
}

@media (max-width: 480px) {
    .signupSection{
        width: 100%;
        overflow-x: hidden;
    }
    .header .head {
        font-size: 16px;
        margin-top: .5rem;
    }

    .reniLogo img {
        max-width: 60px;
    }
    .reniLogo{
        margin-top: 1rem;
        margin-bottom: -.7rem;
    }

    .reniLogo .graph {
        font-size: 14px;
    }

    .checkDiv {
        font-size: 13px;

    }


    .eyeIcon {
        margin-right: 2rem;
        margin-top: -2rem;
    }

    .name.grid {
        gap: 5px;
    }

    .inp-box input[type="text"]{
    width: 100%;
    }
    .inp-box select{
        width: 100%;
    }
    .inp-box input[type="password"]{
        width: 100%;
    }
    .inp-box .eyeIcon{
        margin-right: 7rem;
    }
    input[type="checkbox"] {
        width: 6%;
        height: 60%;

    }

    .checkDiv{
        width: 45%;
        margin-left: -1rem;
    }
    .inputes {
        margin-top: -.1rem;
    }

    .buttonContainer button {
        width: 70%;
        position: absolute;
        margin-top: .1rem;
        right: 14%;
    }

    form {
        padding-bottom: 5.6rem;
    }

    .flex {
        margin-top: 1.2rem;
        height: 90%;
    }



}


@media (max-width: 330px) {
    .header {
        font-size: 14px;
        margin-right: 5rem;
    }

    .signupSection {
        height: 100vh;

    }


    .reniLogo img {
        max-width: 50px;
    }

    .reniLogo .graph {
        font-size: 12px;
    }

    .checkDiv {
        font-size: 12.5px;
        /* width: 145%; */
        margin-top: -1.8rem;

    }

    .flex {
        width: 72%;
        margin-left: .2rem;
    }

    .inp-box input[type="text"] {
        width: 95%;
    }

    .inp-box input[type="password"] {
        width: 95%;
    }

    select {
        width: 95%;
    }

    .agreement {
        width: 150%;
        margin-left: -.7rem;
    }

    input[type="checkbox"] {
        margin-top: -1.5rem;
        width: 4%;
        height: 109%;
    }

    .eyeIcon {
        margin-right: 7.5rem;
        margin-top: -2rem;
    }

    .inputes {
        /* margin-top: -1rem; */
    }

    .name.grid {
        gap: 4px;
    }

    .buttonContainer button {
        width: 55%;
        position: absolute;
        margin-top: .6rem;
        margin-right: 5.6rem;
    }
}