/* body{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
} */

.modal-backdrop{
  width: 100%;
  height: 100vh;
  right: 0;
  top: 0;
  background: #00000093;
  position: fixed;
  display: flex;
  justify-content: center;

/* padding-top: 4rem; */
  /* align-items: center; */
}

.modal-content{
  height: 96vh;
  width: 28%;
  margin-top: .9rem;
 border-radius: 12px;
  background: #ffff;
 
}
form{
  display: grid;
  /* background-color: transparent; */

}
input[type="text"]{
  width: 100%;
  margin-top: .5rem;
}

.modalBody{
  margin-top: -1.8rem;
}

.modalBody h2{
margin-left: 1.6rem;
margin-top: 3.4rem;
}
.modalBody label{
margin-left: .5rem;
margin-bottom: .4rem;
/* margin-top: .3rem; */
}

.Closebtn{
  margin-left: 3rem;
  border: 3px solid red;
  color: black;
  font-size: 29px;
  position: absolute;
}

.Closebtn button{
  color: black;
}



textarea {
  outline: none;
  margin-bottom: .6rem;
  padding-top: .6rem;
  border-radius: 8px;
  padding-left: .9rem;
}

::placeholder{
  color: #989EB3;
  margin-top: .5rem;
}

/* Media query */
@media screen and (max-width: 900px) {
  .modal-backdrop{
    height: 150vh;
 z-index: 99;
  }

  .modal-content{
    width: 50%;
    margin-left: -27rem;
    height: 78%;
  }
  .Closebtn{
    margin-left: -1rem;
    font-size: 34px;
  }
}
@media screen and (max-width: 480px) {
  .modal-backdrop{
    width: 100%;
    height: 100%;
    z-index: 999;
  }
  .modal-content{
    width: 40%;
    margin-left: -7rem;
    margin-right: 17rem;
    background-color: transparent;
  }
 .modal-content form{
  height: 65%;

 }
 .modal-content .Closebtn{
    margin-left: -.5rem;
 font-size: 24px;
   top: 4%;

  }
  .modalFooter{
    margin-top: -4rem;
  }

}