@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

:root {
    --PrimaryColor: hsl(209, 68%, 55%);
    --SecondaryColor: hsl(180, 17%, 95%);
    --colorOne: hsl(15, 74%, 70%);
    --colorTwo: hsl(28, 100%, 82%);
    --HoverColor: hsl(225, 56%, 59%);
    --whiteColor: #FEFCFC;
    --blackColor: hsl(0, 0%, 12%);
    --textColor: rgb(3, 3, 109);
    --borderColor: hsl(0, 0%, 83%);
    --whiteColorDeam: hsl(0, 8%, 88%);
    --greyBg: hsl(0, 0%, 96%);
    --greyText: rgb(145, 145, 145);
    --inputColor: hsl(330, 12%, 97%);
    --newBgColor: hsl(188, 43%, 87%);
    --boxShadow: box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
    --transition: .4s ease-in-out;
}

/* // Default Styling */
body {
    background: var(--whiteColor);
    box-sizing: border-box;
    box-shadow: var(--boxShadow);
    margin: 0;
    padding: 0;
    overflow-x: hidden;


}

/* verify style */

.mainContainer {
    height: 100%;
    display: flex;
    position: fixed;
    overflow: hidden;
}

.imgContainer {
    width: 100%;
    height: 100%;
    overflow: hidden;

}

.imgDiv {
    width: 100%;
    height: max-content;
    object-fit: cover;


}



.verifySection {
    width: 100%;
    padding: 2rem;
    background: #F1F6FD;
}


.logoDiv {
    display: flex;
    color: #001E88;
    align-items: center;
    justify-content: center;
    margin-top: -1rem;
    margin-bottom: .9rem;
}



.headingsection {
    color: #001E88;
    text-align: center;
    margin-bottom: -10rem;
    /* margin-top: 7rem; */
}

.graph {
    color: #001E88;
    font-size: 20px;
    font-weight: 600;
}

.formSection {
    margin-top: 8rem;
}

.headingsection {
    text-align: center;
    color: #001E88;
    font-size: 25px;
}

.formSection {
    content: '';
    padding: 1rem;
    background: linear-gradient(to bottom, #001E88, #FEFCFC);
    margin-top: 1rem;
    border-radius: 8px;
    z-index: -1;
}

.email {
    font-size: 20px;
    color: #848995;
    font-weight: 400;
    margin-bottom: 1rem;
}



.formContainer label {
    font-size: 20px;
    color: #848995;
}

input[type="email"] {
    width: 100%;
    height: 8vh;
    margin: 10px 0px;
    border: 2px solid #848995;
    outline: none;
    padding: 10px;
    border-radius: 10px;
}

.newbtn {
    width: 40%;
    height: 77%;
    padding: .6rem;
    margin-top: .7rem;
    margin-left: .2rem;
    border-radius: 5px;
    background: #001E88;
    box-shadow: 5px 4px 4px 2px #848995;
    color: #FEFCFC;
    font-size: 16px;
    font-weight: 600;
    border: none;
    outline: none;
}


.otp {
    margin-top: 1rem;
}

.boxs {
    color: #848995;
    font-size: 20px;
}

.otpArea {
    width: 100%;
    /* margin: 20px ; */
    display: flex;
    /* gap: 30px; */
    justify-content: space-between;
    margin-top: 10px;
}

input[type="otp"] {
    font-size: 20px;
    font-weight: 600;
    border-radius: 8px;
    border: 2px solid #848995;
    width: 14%;
    height: 25%;
    padding: .6rem;
    outline: 2px solid lightgrey;
    text-align: center;
}

.otpArea input:focus {
    border: 3px solid var(--newBgColor);
}

.buts {
    margin-top: 1.5rem;
}

.btns {
    width: 100%;
    height: 110%;
    background: transparent;
    color: #001E88;
    font-size: 16px;
    font-weight: 600;
    border-radius: 8px;
    border: 2px solid #001E88;
}

span {
    color: #001E88;
    font-weight: 500;
    text-decoration: none;
}

.para {
    text-align: center;
    margin-top: 1.5rem;
    color: #848995;
}




@media (max-width: 900px) {
 
    .mainContainer {
        flex-direction: column;
        padding: 10px;
        height: auto;
        overflow-x: hidden;
        overflow-y: scroll; 
        position: absolute;
    }

    .imgContainer {
        display: none;
    }

    .formSection{
      width: 90%;
      margin-left: 2rem;
      overflow-x: hidden;
    }
    .verifySection {
        width: 100%;
        overflow-y: scroll; 
    }

    .newbtn{
      width: 45%;
    }

    .formContainer label{
      font-size: 14px;
      margin-left: .4rem;
    }
  
    .email{
      font-size: 14px;
    }
  .btns{
    font-size: 14px;
  }

  .para{
    font-size: 14px;
  }
    .otpArea input {
      width: 7%;
/* gap: 50px; */
    }

    .otpArea{
      width: 97%;
      /* margin-left: 3rem; */
    }
    .formSect {
      /* max-width: 100%; */
      padding: 0 20px;
    }
  
    .logoDiv {
      text-align: center;
      margin-left: -2rem;
    }
  
    .graph {
      font-size: 1.2rem;
     
    }
  
    .headingsection {
      font-size: 1.5rem;
      text-align: center;
      margin-left: -2rem;
      /* margin-top: 5rem; */
      
    }
  }
  
  /* Styles for screens 600px and smaller */
  @media (max-width: 600px) {
    .headingsection {
      font-size: 1.3rem;
     text-align: center;
     margin-left: -6rem;
    /* margin-top: 4rem; */
    }

    .logoDiv{
      margin-left: -5rem;
    }
    .verifySection {
      width: 120%;
      overflow-x: hidden;
    }

    .email{
      font-size: 13px;
    }


  
    .newbtn{
      width: 50%;
      font-size: 12px;
    }
    .formSection{
      width: 75%;
      border-radius: .8rem;
      margin-left: 1rem;
    }
    .otpArea{
      width: 100%;
    }

    .otp input[type="otp"]{
      /* width: 14%; */
      gap: 10px;
    }
  
    form{
      margin-right: .7rem;
      width: 100%;
    }
    /* .formSect {
      padding: 0 10px;
    } */
  
    .graph {
      font-size: 1rem;
    }
  }
  
  /* Styles for screens 500px and smaller */
  @media (max-width: 500px) {
    .headingsection {
      font-size: 1.2rem;
     margin-left: -2.5rem;
    }
  
    .graph {
      font-size: 0.9rem;
    }

    .logoDiv{
      /* margin-right: 9rem; */
      margin-left: -3.5rem;
    }
    .formSection{
      width: 80%;
      border-radius: .8rem;
      margin-left: 3%;
    }
  
   

    .newbtn{
      width: 70%;
    }

    .email{
      font-size: 15px;
    }
  }
  
  /* Styles for screens 330px and smaller */
  @media (max-width: 330px) {
    .headingsection {
      font-size: 1rem;
     /* margin-top: 2rem; */
     margin-left: -2rem;
    }
  
    .graph {
      font-size: 0.8rem;
    }
    
    .logoDiv{
      margin-left: 1rem;
    }
    .boxs{
      font-size: 14px;
    }

    .email{
      font-size: 12px;
    }
    .para p{
      font-size: 12px;
      margin-top: -2rem;
    }

    .buts{
      margin-top: -.9rem;
    }
    .btns{
      width: 90%;
      padding: 0;
      font-size: 11px;
      
    }
    .formSection{
      width: 92%;
      margin-left: -1.5rem;
      /* margin-top: -1rem; */
    }
    .newbtn{
     font-size: 12px;
    }

    .para p{
      margin-top: -4rem;
    }
    .otpArea{
      width: 105%;
      height: 109%;
    }
   .otpArea  input{
      width: 6%;
      margin-left: -.8rem;
      height: 39%;
      padding: 24px;
      gap: 30px;
    }
  
    .formSect {
      padding: 0 5px;
    }  
    .formDiv, .otpArea, .buts, .para {
      margin-bottom: 10px;
    }
  }